<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>upload Page</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", sans-serif;
        background-color: #121212;
        color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        flex-direction: column;
      }

      .signup-container {
        background-color: #1e1e1e;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 400px;
      }

      h2 {
        text-align: center;
        margin-top: 200px;
        margin-bottom: 25px;
        font-size: 40px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        border: none;
        background-color: #2c2c2c;
        color: #ffffff;
        font-size: 14px;
      }

      input[type="submit"] {
        margin-top: 15px;
        width: 200px;
        padding: 12px;
        background-color: #0077cc;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        font-size: 16px;
      }

      input[type="submit"]:hover {
        background-color: #005fa3;
      }

      .login-link {
        margin-top: 20px;
        text-align: center;
      }

      .login-link a {
        color: #90caf9;
        text-decoration: none;
        font-weight: bold;
      }

      .login-link a:hover {
        text-decoration: underline;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
          @media only screen and (max-width: 600px) {
            .signup-container{
              width: 75%;
            }
            h2{
              font-size: 30px;
            }
          }

    </style>
  </head>

  <body>
    <h2>Upload your profile Pic</h2>
    <div class="signup-container">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" value="upload" />
      </form>
    </div>
  </body>
</html>
